<script setup>
const props = defineProps({
  bannerURL: String,
  description: String,
});

</script>

<template>
  <section class="banner">
    <img class="banner__img" :src="bannerURL" />
    <div class="banner__info">
      <h1 class="banner__title">
        Bienvenido kitsune a mi página web &#129418; &#128158;
      </h1>
      <p class="banner__p">
        {{ description }}
      </p>
    </div>
  </section>
</template>

<style scoped>
.banner {
  height: 450px;
  position: relative;
  background: #fdf0f7;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.banner__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.banner__info {
  padding: 0 3em;
  position: absolute;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: black;
  margin: auto;
}
.banner__title {
  line-height: 1.5;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  .banner__p {
    line-height: 2;
    font-size: 0.75em;
    font-weight: bold;
    opacity: 0.9;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 600px) {
  .banner__p {
    line-height: 2;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.9;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .banner__p {
    line-height: 2;
    font-size: 1em;
    font-weight: bold;
    opacity: 0.9;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 992px) {
  .banner__p {
    line-height: 2;
    font-size: 1.1em;
    font-weight: bold;
    opacity: 0.9;
    margin-top: 1em;
  }
}
</style>
