<script setup>
import { reactive } from "@vue/runtime-core";
import useEmitter from "../helpers/useEmitter";

defineProps(["playlist"]);
const emitter = useEmitter();

const state = reactive({
  showModal: false,
  video: {
    id: "",
    title: "",
  },
});

const handleClick = (item) => {
  state.showModal = true;
  state.video.id = item.videoId;
  state.video.title = item.title;
  emitter.emit("itemClicked", state);
};
</script>

<template>
  <va-card square outlined>
    <va-image :src="playlist.thumbnail.url" :ratio="2" />
    <va-card-title class="display-6">{{ playlist.name }}</va-card-title>
    <va-card-content>
      <va-list>
        <va-list-item
          v-for="item in playlist.items"
          :key="item.videoId"
          @click="handleClick(item)"
          class="item"
        >
          <va-list-item-section>{{ item.title }}</va-list-item-section>
          <va-list-item-section icon>
            <va-icon name="visibility" color="#ff6666" />
            <span>{{ item.viewCount }}</span>
          </va-list-item-section>
          <va-list-item-section icon>
            <va-icon name="thumb_up" color="#1E90FF" />
            <span>{{ item.likes }}</span>
          </va-list-item-section>
        </va-list-item>
      </va-list>
    </va-card-content>
  </va-card>
</template>

<style scoped>
.item:hover {
    cursor: pointer;
}
</style>