<script setup>
import { computed } from "@vue/runtime-core";
import icon from "../assets/instagram.svg";

const props = defineProps({
  profilePhoto: String,
  channelName: String,
  subscriberCount: String,
  videoCount: String,
  viewCount: String,
  publishedAt: Date,
});

const formattedDate = computed(() => {
  return `${props.publishedAt.getDate()}/${
    props.publishedAt.getMonth() + 1
  }/${props.publishedAt.getFullYear()}`;
});
</script>

<template>
  <va-card square outlined>
    <va-image :src="profilePhoto" :ratio="1" contain />
    <div class="row">
      <div class="flex xs6">
        <va-card-title class="display-6">{{ channelName }}</va-card-title>
      </div>
      <div class="flex xs6">
        <div class="row justify--end">
          <div class="flex">
            <button id="search-button" class="mt-3 mr-4">
              <a href="https://www.instagram.com/xxlarachan/" target="__blank">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 48 48"
                  width="96px"
                  height="96px"
                >
                  <radialGradient
                    id="yOrnnhliCrdS2gy~4tD8ma"
                    cx="19.38"
                    cy="42.035"
                    r="44.899"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#fd5" />
                    <stop offset=".328" stop-color="#ff543f" />
                    <stop offset=".348" stop-color="#fc5245" />
                    <stop offset=".504" stop-color="#e64771" />
                    <stop offset=".643" stop-color="#d53e91" />
                    <stop offset=".761" stop-color="#cc39a4" />
                    <stop offset=".841" stop-color="#c837ab" />
                  </radialGradient>
                  <path
                    fill="url(#yOrnnhliCrdS2gy~4tD8ma)"
                    d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"
                  />
                  <radialGradient
                    id="yOrnnhliCrdS2gy~4tD8mb"
                    cx="11.786"
                    cy="5.54"
                    r="29.813"
                    gradientTransform="matrix(1 0 0 .6663 0 1.849)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#4168c9" />
                    <stop offset=".999" stop-color="#4168c9" stop-opacity="0" />
                  </radialGradient>
                  <path
                    fill="url(#yOrnnhliCrdS2gy~4tD8mb)"
                    d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"
                  />
                  <path
                    fill="#fff"
                    d="M24,31c-3.859,0-7-3.14-7-7s3.141-7,7-7s7,3.14,7,7S27.859,31,24,31z M24,19c-2.757,0-5,2.243-5,5	s2.243,5,5,5s5-2.243,5-5S26.757,19,24,19z"
                  />
                  <circle cx="31.5" cy="16.5" r="1.5" fill="#fff" />
                  <path
                    fill="#fff"
                    d="M30,37H18c-3.859,0-7-3.14-7-7V18c0-3.86,3.141-7,7-7h12c3.859,0,7,3.14,7,7v12	C37,33.86,33.859,37,30,37z M18,13c-2.757,0-5,2.243-5,5v12c0,2.757,2.243,5,5,5h12c2.757,0,5-2.243,5-5V18c0-2.757-2.243-5-5-5H18z"
                  />
                </svg>
              </a>
            </button>
            <button id="search-button" class="mt-3 mr-4">
              <a
                href="https://www.youtube.com/channel/UCq2SqQXBjZATi94Wc1JjsJA"
                target="__blank"
              >
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 461.001 461.001"
                  style="enable-background: new 0 0 461.001 461.001"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      style="fill: #f61c0d"
                      d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728
		c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137
		C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607
		c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"
                    />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <va-card-content>
      <p>{{ subscriberCount }} personitas maravillosas &#128150;</p>
      <va-divider dashed />
      <p>{{ videoCount }} videos y contando &#128521;</p>
      <va-divider dashed />
      <p>{{ viewCount }} visitas &#128586;</p>
      <va-divider dashed />
      <p>{{ formattedDate }} Inició esta aventura &#128582;</p>
    </va-card-content>
  </va-card>
</template>

<style scope>
#search-button {
  width: 25px;
  height: 25px;
  background: none;
  cursor: pointer;
  outline: none;
  border: 0;
}

#search-button svg {
  width: 25px;
  height: 25px;
}
</style>