<script setup>
import { computed, inject, onMounted, reactive } from "@vue/runtime-core";
import useEmitter from "../helpers/useEmitter";

const axios = inject("axios");
const emitter = useEmitter();

const state = reactive({
  showModal: false,
  video: {
    title: "",
    embedHtml: "",
  },
});

const videoResized = () => {
  state.video.embedHtml = state.video.embedHtml.replace(
    'width="480"',
    'width="345"'
  );
  state.video.embedHtml = state.video.embedHtml.replace(
    'height="270"',
    'height="200"'
  );
};

const titleResized = computed(() => {
  return state.video.title.length > 50
    ? `${state.video.title.substring(0, 50)}...`
    : state.video.title;
});

const getVideo = async (videoId) => {
  const queryData = "player";
  const url = `https://www.googleapis.com/youtube/v3/videos?part=${queryData}&id=${videoId}&key=${
    import.meta.env.VITE_API_KEY
  }`;
  const { data } = await axios.get(url);
  state.video.embedHtml = data.items[0].player.embedHtml;
  if (screen.width < 600) videoResized();
};

onMounted(async () => {
  emitter.on("itemClicked", async (data) => {
    await getVideo(data.video.id);
    state.video.title = data.video.title;
    state.showModal = true;
  });
});
</script>

<template>
  <va-modal
    v-model="state.showModal"
    :title="titleResized"
    hide-default-actions
    :mobile-fullscreen="false"
  >
    <slot>
      <span v-html="state.video.embedHtml"></span>
    </slot>
  </va-modal>
</template>

<style>
</style>