<script setup>
import { inject, onMounted, reactive, ref } from "@vue/runtime-core";
import BannerComponent from "./components/BannerComponent.vue";
import VideoComponent from "./components/VideoComponent.vue";
import ProfileComponent from "./components/ProfileComponent.vue";
import PlayListsComponent from "./components/PlayListsComponent.vue";

const axios = inject("axios");

const state = reactive({
  laraInfo: {
    channelName: "",
    profilePhoto: "",
    banner: "",
    description: "",
    subscriberCount: "",
    videoCount: "",
    viewCount: "",
    publishedAt: new Date(),
  },
  playLists: [],
});

const getChannelData = async () => {
  try {
    const queryData = "snippet,brandingSettings,statistics";
    const url = `https://youtube.googleapis.com/youtube/v3/channels?part=${queryData}&id=${
      import.meta.env.VITE_CHANNEL_ID
    }&key=${import.meta.env.VITE_API_KEY}`;

    const info = await axios.get(url);
    const data = info.data.items[0];

    state.laraInfo.channelName = data.brandingSettings.channel.title;
    state.laraInfo.profilePhoto = data.snippet.thumbnails.medium.url;
    state.laraInfo.banner = data.brandingSettings.image.bannerExternalUrl;
    state.laraInfo.description = data.brandingSettings.channel.description;
    state.laraInfo.subscriberCount = data.statistics.subscriberCount;
    state.laraInfo.videoCount = data.statistics.videoCount;
    state.laraInfo.viewCount = data.statistics.viewCount;
    state.laraInfo.publishedAt = new Date(data.snippet.publishedAt);
  } catch (error) {
    console.log(error);
  }
};

const getPlayLists = async () => {
  try {
    const queryData = "snippet";
    const url = `https://www.googleapis.com/youtube/v3/playlists?part=${queryData}&channelId=${
      import.meta.env.VITE_CHANNEL_ID
    }&key=${import.meta.env.VITE_API_KEY}`;

    const { data } = await axios.get(url);
    state.playLists = data.items.map((playlist) => ({
      id: playlist.id,
      name: playlist.snippet.localized.title,
      thumbnail: {
        height: playlist.snippet.thumbnails.medium.height,
        width: playlist.snippet.thumbnails.medium.width,
        url: playlist.snippet.thumbnails.medium.url,
      },
    }));
  } catch (error) {
    console.log(error);
  }
};

const getPlayListItems = async () => {
  try {
    for (const i in state.playLists) {
      const queryData = "snippet";
      const url = `https://www.googleapis.com/youtube/v3/playlistItems?part=${queryData}&playlistId=${
        state.playLists[i].id
      }&maxResults=50&key=${import.meta.env.VITE_API_KEY}`;
      const { data } = await axios.get(url);
      state.playLists[i].items = data.items.map((item) => ({
        videoId: item.snippet.resourceId.videoId,
        title: item.snippet.title,
        description: item.snippet.description,
      }));
    }
    const privateRemoved = state.playLists[3].items.filter(
      (item) => item.videoId !== "dlCGKcWdIdw"
    );
    state.playLists[3].items = privateRemoved;
  } catch (error) {
    console.log(error);
  }
};

const getVideos = async () => {
  try {
    for (const i in state.playLists) {
      for (const j in state.playLists[i].items) {
        const queryData = "snippet,contentDetails,player,statistics";
        const url = `https://www.googleapis.com/youtube/v3/videos?part=${queryData}&id=${
          state.playLists[i].items[j].videoId
        }&key=${import.meta.env.VITE_API_KEY}`;
        const { data } = await axios.get(url);
        const itemData = data.items.map((videoData) => ({
          videoId: videoData.id,
          publishedAt: videoData.snippet.publishedAt,
          title: videoData.snippet.title,
          description: videoData.snippet.description,
          thumbnail: {
            url: videoData.snippet.thumbnails.medium.url,
          },
          likes: videoData.statistics.likeCount,
          viewCount: videoData.statistics.viewCount,
        }));
        state.playLists[i].items[j] = itemData[0];
      }
    }
  } catch (error) {
    console.log(error);
  }
};

onMounted(async () => {
  await getChannelData();
  await getPlayLists();
  await getPlayListItems();
  await getVideos();
});
</script>

<template>
  <BannerComponent
    :bannerURL="state.laraInfo.banner"
    :description="state.laraInfo.description"
  />
  <div class="row justify--space-between">
    <div class="flex xs12 md2">
      <div class="row">
        <div class="flex xs12">
          <p class="display-4 text--center my-4">Saluditos &#127800;</p>
        </div>
        <div class="flex xs12">
          <ProfileComponent
            :profilePhoto="state.laraInfo.profilePhoto"
            :channelName="state.laraInfo.channelName"
            :subscriberCount="state.laraInfo.subscriberCount"
            :videoCount="state.laraInfo.videoCount"
            :viewCount="state.laraInfo.viewCount"
            :publishedAt="state.laraInfo.publishedAt"
          />
        </div>
      </div>
    </div>
    <div class="flex xs12 md10">
      <div class="row justify--space-around">
        <div class="flex xs12">
          <p class="display-4 text-center my-4">Mis Playlists &#128133;</p>
        </div>
        <div
          class="flex xs12 md5"
          v-for="playlist in state.playLists"
          :key="playlist.id"
        >
          <PlayListsComponent :playlist="playlist" />
        </div>
      </div>
    </div>
  </div>
  <VideoComponent />
</template>

<style>
* {
  font-family: "Space Mono", monospace;
}
</style>
